* {
    padding: 0;
    margin: 5;
    box-sizing: border-box;
}

.table {
    border-collapse: collapse;
}

tr,
td { 
    border: 10px solid black;
}

td {
   padding: 5px 7px;
   background-color: aqua;
   text-align: center;
}

.table__col--main {
    background-color: aliceblue;
    color: white;
}

.table__col--additional {
    background-color: yellow;
}

.table__col--secondary {
    background-color: red;
}

.table__col--filled {
    background-color: black;
    color: aliceblue;
}

.table__col--unique {
    background-color: blue;
    width: 240px;
    height: 120px;
}

.table__col--object {
    width: 40px;
    height: 240px;
}

.table__col--first {
    width: 160px;
    height: 80px;
}

.table__col--column {
    width: 80px;
    height: 160px;
}

.table__col--cell {
    width: 300px;
    height: 80px;
}

.table__col--piller {
    width: 80px;
    height: 300px;
}

.table__col--double {
    width: 120px;
    height: 220px;
}

.table__col--lower {
    width: 200px;
    height: 90px;
}
